<a href="https://colab.research.google.com/github/spaceofsilver/python_basic/blob/main/4_%EC%97%B0%EC%86%8D%ED%98%95_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%98%95_%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%2C%ED%8A%9C%ED%94%8C%2C%EC%A7%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연속 데이터 타입

- 단일 데이터 n개를 가지고 있는 자료구조
- 연속형, 시퀀스형이라고도 불림
- 튜플만 수정 불가능

|타입명|기호|특징|크기확인|
|--|--|--|--|
|리스트|[ ]|list()<br>- [ ]<br>- 순서(인덱스) o<br>- 값 중복 o |len()|
|딕셔너리|{ }|dict()<br>- { }<br>- 순서(인덱스) x<br>- 값 중복 o, 키 중복x<br>- 키와 값의 세트로 구성<br>- 타언어와 통신시 json으로 대응됨.|len()|
|튜플|( )|tuple()<br>- ( )<br>- 순서(인덱스) o<br>- 값 중복 o<br>- 단순하게 값을 묶는다(그룹화)|len()|
|집합|{ }|set()<br>- { }<br>- 순서(인덱스) x <br>- 값 중복 x: 중복제거로 사용 |len()|
|배열|ndarray|- numpy의 자료구조 |shape|
|시리즈|series|- pandas의 자료구조, 1차원구조|shape|
|데이터프레임|datafreme|- pandas의 자료구조, 2차원구조|shape|
|텐서|tensor|- 딥러닝 주요 엔진들의 자료구조, tensorflow, pytorch|shape|

# 리스트

In [ ]:
# 1.생성

# (1) 동적생성 : 리스트의 멤버를 나중에 추가할 경우
a = list() # or a = []
print(a, type(a), len(a));print('*'*30)

# (2) 정적구성: 리스트의 멤버를 바로 추가하면서 생성하는 경우 -> 나중에 멤버를 추가하는 형태에서 사용가능
a1 =[1,2,3]
print(a1, type(a1), len(a1))

[] <class 'list'> 0
******************************
[1, 2, 3] <class 'list'> 3

In [ ]:
b = ['노브랜드버거','롯데리아','서브웨이']
print(b);print('*'*30)
# 2. 리스트 합치기: 리스트의 타입이 달라도 하나의 리스트로 만드는데 문제없다.
# -> 구성원의 멤버 타입은 중요하지 않다(! 중요)
# -> 리턴값이 리스트로 나왔다 => '사본' 출력
c = a1 + b
c

['노브랜드버거', '롯데리아', '서브웨이']
******************************

[1, 2, 3, '노브랜드버거', '롯데리아', '서브웨이']

## 인덱싱(indexing)

- **차원 축소**(! 중요)

In [ ]:
# 변수[인덱스] -> 정/역방향 가능
# **차원 축소**: 리스트에서 인덱싱을 하면 값이 나온다(벡터 -> 스칼라)
c[3]

'노브랜드버거'

## 슬라이싱(slicing)

In [ ]:
# 변수[시작인덱스:끝인덱스:스텝]
c[:] #원본카피
c[:2] #처음부터 2번째까지
c[:-2] #처음부터 뒤에서 2번째까지

[1, 2, 3, '노브랜드버거', '롯데리아', '서브웨이', 1, 2, 3, '노브랜드버거']

## 수정: 원본수정

- 인덱싱 수정
- 슬라이싱 수정: 수정의 값은 **연속형**만 가능함(주의)

In [ ]:
# 인덱싱 수정
c[2] = 100; print(c)

[1, 2, 100, '노브랜드버거', '롯데리아', '서브웨이', 1, 2, 3, '노브랜드버거', '롯데리아', '서브웨이']

In [ ]:
# 슬라이싱 수정: 값은 연속형만 가능함
# c[:2] = 1; print(c) #오류
c[:2] = 'hi'; print(c)

['h', 'i', 100, '노브랜드버거', '롯데리아', '서브웨이', 1, 2, 3, '노브랜드버거', '롯데리아', '서브웨이']

## 추가

- append()

In [ ]:
c.append(10); print(c)

['h', 'i', 100, '노브랜드버거', '롯데리아', '서브웨이', 1, 2, 3, '노브랜드버거', '롯데리아', '서브웨이', 10]

## 삭제

In [ ]:
c[0]; print(c) #날릴거야
# 파이썬 표현 내에서 특정 변수를 해제하는 방법: del
del c[0]; print(c)

['h', 'i', 100, '노브랜드버거', '롯데리아', '서브웨이', 1, 2, 3, '노브랜드버거', '롯데리아', '서브웨이', 10]
['i', 100, '노브랜드버거', '롯데리아', '서브웨이', 1, 2, 3, '노브랜드버거', '롯데리아', '서브웨이', 10]

In [ ]:
del c[:2]; print(c)

['노브랜드버거', '롯데리아', '서브웨이', 1, 2, 3, '노브랜드버거', '롯데리아', '서브웨이', 10]

In [ ]:
c.clear(); print(c) # 전부 날리기

[]

In [ ]:
c.extend( c ); print(a1 ) # 원본이 수정돼서 c에 a1가 이어붙어진다. -> 여기서 a1은 그대로 존재함.

[1, 2, 3]

# 딕셔너리

- 주로 [ {},{},{} ] 구조 사용
- 멤버구성
  - 키: 멤버
  - 키는 함수를 제외하고는 다 가능, 주로 문자열, 수치형

In [ ]:
# (1) 동적구성
dic=dict()
print(dic, type(dic), len(dic)); print('*'*30)
# (2) 정적구성
dic1 = {'name':'부산대'}
print(dic1, type(dic1), len(dimc1))

{} <class 'dict'> 0
******************************
{'name': '부산대'} <class 'dict'> 1

In [ ]:
# 멤버구성 =>  키: 멤버
# 키는 함수를 제외하고는 모두 다 가능하다
# 주로 문자열, 수치 등을 사용함.
# java : map, js:객체, ios: nsdictionary ,데이터: json 등 동일구조를 가짐
# 주로 [ {},{},{} ] 구조 사용

## 인덱싱

- 키값은 고유한 값
- 순서가 없기 때문에 값을 대변하는 키 값으로 인덱싱 -> 직관적
- 순서가 없기 때문에 **슬라이싱은 불가**

In [ ]:
exchanges = {'국가':'미국', 'code':'USD', '살때':'1130.1', '팔때':'1109.8'}
exchanges

{'code': 'USD', '국가': '미국', '살때': '1130.1', '팔때': '1109.8'}

In [ ]:
exchanges['살때']

'1130.1'

In [ ]:
exchanges['살때'] = 1119.10; print(exchanges)

{'국가': '미국', 'code': 'USD', '살때': 1119.1, '팔때': '1109.8'}

In [ ]:
# 함수로 값을 추출하기
exchanges.get('살때')

1119.1

In [ ]:
print(exchanges.get('살때1'))  # 설령 해당키가 없어도 시스템이 종료되지 않는다 -> 안정적임
# 값이 없다. None 비유적으로 null
# 데이터 분석으로 가면 NaN을 사용 => 분석에선 '결측치'

None

In [ ]:
exchanges['살때1'] # 해당 키가 없으면 시스템이 종료 (shut down) -> 불안정적인 사용

KeyError: ignored

## 추가
- 딕셔너리에 데이터를 추가한다면 키와 값의 세트로 필요.

In [ ]:
exchanges[ 1 ] = 100; print(exchanges)

{'국가': '미국', 'code': 'USD', '살때': 1119.1, '팔때': '1109.8', 1: 100}

# 튜플

In [ ]:
# (1) 동적 구성
tu = tuple()
print(tu, type(tu), len(tu))

# (2) 정적 구성
tu1= (1,) # 멤버수가 1개인 경우, 그룹화 하는 연산자와 구분이 안 된다. 멤버가 한 개면 , 를 넣어서 표식을 줘야함.
print(tu1, type(tu1), len(tu1))

() <class 'tuple'> 0
(1,) <class 'tuple'> 1

In [ ]:
tu = (2,3,4,5)
tu

(2, 3, 4, 5)

In [ ]:
# 인덱싱
tu[0]

2

In [ ]:
# 슬라이싱
tu[0:2]

(2, 3)

In [ ]:
# 추가 x -> reasonly, immutable 수정/삭제 불가 -> 읽기전용
# 용도? 단순하게 값을 묶는다는 것.
# 함수의 리턴값이 여러개일 경우 => 자동으로 튜플로 리턴(리턴값을 나열하면) => 함수편에서 확인...

In [ ]:
# 튜플의 멤버수대로 변수를 나열해서 받아주면 -> 분해!(주의)
a,b,c,d = tu
type(a) ,a,b,c,d # 멤버들을 각각 변수에 대입해서 분해된다

(int, 2, 3, 4, 5)

In [ ]:
# 복습

tupe = (3,5,12,'hi')
tupe, type(tupe), len(tupe)

((3, 5, 12, 'hi'), tuple, 4)

In [ ]:
a,b,c,d = tupe
a,b,c,d

(3, 5, 12, 'hi')

In [ ]:
lst = [2,3,1,56,'hello']
lst, type(lst), len(lst)

([2, 3, 1, 56, 'hello'], list, 5)

In [ ]:
a,b,c,d,e = lst
a

2

In [ ]:
a,b,_,d,e = lst
a,b,d,e

(2, 3, 56, 'hello')

In [ ]:
# 만약에 나는 3번째 값(c)은 사용할 일이 없다면?
a,_,c,d = tu # 더미변수, 받아만 주고 사용은 안한다 -> 사용
tu

(2, 3, 4, 5)

In [ ]:
# 리스트도 분해가 가능하다: 배열 or 객체 분해
a,b,c = [1,2,3]
a

1

In [ ]:
def test():
  return 1,2,3

a = test()
type(a) # 함수에서 여러개의 값을 리턴할 때 -> 튜플로 리턴된다.

tuple

# 집합
- 목적: 중복제거
- 중복을 제거할 대상으로부터 중복제거를 함으로써 생성

In [ ]:
a = list('hello world')
a # 'l'중복
set(a) # 순서 없다. 순서 없이 고유한 값만 추출

{' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

In [ ]:
list(set(a))  #다시 리스트로

['e', 'r', 'w', ' ', 'l', 'h', 'o', 'd']

In [ ]:
# 합집합
# 교집합
# 차집합  => set은 느려서 잘 사용하지 않는다.

# C/C++로 모듈을 만들면 Cython으로 연결하여 python으로 api를 생성한다.

In [ ]:
a = set([3,4,2,6,6,32,3])
b = set([3,6,8,9,6,6,3,56,142,45,9])
a, b

({2, 3, 4, 6, 32}, {3, 6, 8, 9, 45, 56, 142})

In [ ]:
# 합집합
a.union(b)

{2, 3, 4, 6, 8, 9, 32, 45, 56, 142}

In [ ]:
# 교집합
a.intersection(b)

{3, 6}

In [ ]:
# 차집합: 방향에 따라 달랄진다.
a.difference(b), b.difference(a)

({2, 4, 32}, {8, 9, 45, 56, 142})

In [ ]:
a-b

{2, 4, 32}

In [ ]:
b-a

{8, 9, 45, 56, 142}