<a href="https://colab.research.google.com/github/spaceofsilver/python_basic/blob/main/5_%EB%B6%88%EB%A6%B0_%EC%A1%B0%EA%B1%B4%EB%AC%B8%2C_%EB%B0%98%EB%B3%B5%EB%AC%B8%2C_%EC%A0%9C%EC%96%B4%EB%AC%B8%2C_%ED%9D%90%EB%A6%84%EC%A0%9C%EC%96%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 흐름제어

- 코드의 흐름을 컨트롤함
- 분기, 반복 등의 작업을 수행하여 sw의 결론에 도달하는 방식
- 조건문에서 판단을 통해 분기를 수행하는 것
    
    
    -->판단의 결론은 **True or False**로 나옴

# 불린

- 값은 참(True) or 거짓(False)
- **False 상황을 기억한다**
  - 조건문에 다음의 값이 존재하거나, 결론이 다음값이면? (값이 비어있는 값들)
  - 0, 0.0, '', [], {}, (), None, Nan --> False
  - 조건식의 표현이 간결해진다. 

  - 기타 조건식에 의해 False가 나오면? --> 그냥 False

# if, elif, else
- 만약 xx라면 yy해라
- 만약 xx이면, xx하고 , yy이면 yy하고..

    --> 이처럼 가정이 들어감. 케이스가 존재

## 비교 연산자

In [ ]:
'''
현재 자스민 커피숍이다. 커피를 구매하고 결재를 하려는 상황
직원이 1500원이라고 말한다. 
직원은 포스에서 계산을 한다. 현금결제 케이스는 모두 3개다.
과하게, 적게, 딱 맞게 입력을 했을 경우다. 
'''
coffe_price = int(input('구매하신 커피는 1500원 입니다.: 입력 금액  '))
price = 1500
# pass는 포지션을 차지하고는 있는데 아무일도 하지 않음
# -> 조건문, 반복문, 함수 클래스 등 틀을 잡을 때 사용.

# 비교연산자: >,<,==,!=
# 비트연산자: not, and, or

# input()을 통해서 입력받은 데이터는 무조건 문자열이다.
# 문자열을 수치로 변경해야됨
# 파이썬의 들여쓰기는 탭으로 밀어주면 된다.

if coffe_price > price:       # : 는 코드블럭이 시작되는 것. 
  print('거스름돈 드리겠습니다.',  "{}원 여기있습니다.".format(coffe_price-price))       
elif coffe_price == price:
  print('감사합니다.')
else:
  print(f'고객님, {price}원 주셔야 합니다.', f'{price - coffe}원이 부족합니다.')
  # 퍼포먼스를 고려하여 가장 빈도가 높은 케이스를 먼저 표시하는게 낫다.

구매하신 커피는 1500원 입니다.: 입력 금액  2000
거스름돈 드리겠습니다. 500원 여기있습니다.

In [ ]:
isRunning = False
# 코드블럭의 수행문이 1개면 옆으로 나열할 수 있음.
# 한줄에 수행문에 ; 구분자 쓰면 여러개를 나열가능
if isRunning is True:print('가동중');print('가동가동')
else:print('중단중')

중단중

## 비트 연산자 : not, and, or

In [ ]:
# 비트 연산 중 부정을 잡는 조건문 => not
# 안되는 거 혹은 False 상황을 잡는 케이스

isRunning = False
if isRunning is True:
  print("it's running")
else:
  print("it's stopped")

it's stopped

In [ ]:
# 중단임을 먼저 확인하고 싶다면?
if not isRunning:
  print('중단됨')

중단됨

In [ ]:
# 비트 연산 and : 모두 참이어야만 참이다. 
True and True, True and False, False and True, False and False

(True, False, False, False)

In [ ]:
# 비트 연산 : or
True or True, True or False, False or True, False or False

(True, True, True, False)

## **삼항 연산자**: 조건이 2개일 때

- 파이썬은 공식적으로 삼항 연산자를 지원하지 않는다.
- => ( 조건 ? 참일 때 값: 거짓일 때 값 ; )
- 파이썬은 대체해서 사용 
- 조건: ***상황이 2개***인 경우 해당

In [ ]:
a = 1500
b = 1600
# (1)방식: 변수 = 조건 and 참일 때 or 거짓일 때
msg = b >= a and f'거스름돈은 {b-a}입니다.' or f'{a-b}원이 부족'
msg

'거스름돈은 100입니다.'

In [ ]:
# (2)방식: 변수= 참일 때 값 if 조건 
msg =  f'거스름돈은 {b-a}입니다.' if  b >= a else f'{a-b}원이 부족'
msg

'거스름돈은 100입니다.'

In [ ]:
# 조건문
a = [1,2,3]
# in 연산자
# in을 조건문에 사용하면 연속 데이터 타입의 멤버를 조사
2 in a , 4 in a

(True, False)

# for

- 특정한(지정된) 횟수만큼 반복한다
 - for
- 언제 끝날지 모르겠는데 반복은 해야한다? ( 0 ~ inf)
  - while

- for ~ index 방식(미지원), for ~ each(지원,in) 방식

- python은 for ~ each만 지원

In [ ]:
a_list = [1,2,3,4,5]
# 한 개씩 꺼내서 출력
# 연속 데이터 타입의 변수명은 복수로 묘사하기 -> 보고 직관적으로 이해할 수 있도록

for item in a_list:
  print( item )

1
2
3
4
5

In [ ]:
items = [ (1,2),(3,4),(5,6),(7,8)]

for i in items:
  for j in i:
    print(j) # 값들을 "직접 변수"(-> 구조분해 )로 받아서 데이터를 획득하고 싶다.

1
2
3
4
5
6
7
8

In [ ]:
items = [ (1,2),(3,4),(5,6),(7,8)]

for _,b in items: # 앞에 값은 필요없고 뒤에 값만 필요할 때
  print(b)

2
4
6
8

In [ ]:
items = [ (1,2),(3,4),(5,6),(7,8)]

for a,b in items:
  print(a, b)

1 2
3 4
5 6
7 8

In [ ]:
# 환율 데이터
exchanges = [{'code': 'USD','buy':1118.11},
             {'code': 'EUR','buy':1318}]

In [ ]:
# 데이터를 돌면서 USD를 "구매할 때 한화로 1216원이 필요합니다."" 이렇게 출력

for i in exchanges:
  # print(i) -> 딕셔너리에서 "키"를 넣어서 값을 추출 => 인덱싱
  # 문자열이나 코드가 길어져서 내려칠 땐 \ 표현하여 이어짐 표시
    print('{}를 구매할 때 한화로 {}원이 필요합니다.'.format(i['code'], i['buy']))

USD를 구매할 때 한화로 1118.11원이 필요합니다.
EUR를 구매할 때 한화로 1318원이 필요합니다.

In [ ]:
# 딕셔너리 데이터를 for문으로 사용해본다면

for dic in exchanges[0]: #리스트의 0번 인덱싱
  print(dic) # 키값 나옴.

code
buy

In [ ]:
# 값을 출력하고싶다면
for key in exchanges[0]: #리스트의 0번 인덱싱
  print(exchanges[0][key]) # 키값 나옴.

USD
1118.11

In [ ]:
exchanges[0]

{'buy': 1118.11, 'code': 'USD'}

In [ ]:
# 딕셔너리 값을 좀 더 심플하게 키와 값을 추출하기

tmp = exchanges[0]
tmp.items() # 딕셔너리를 [ (키, 값),(키, 값),... ]

dict_items([('code', 'USD'), ('buy', 1118.11)])

In [ ]:
for a,b in tmp.items():
  print(a,b)
  print(f'{a}를 환전하면 한화로 {b}를 지불해야합니다.')

code USD
code를 환전하면 한화로 USD를 지불해야합니다.
buy 1118.11
buy를 환전하면 한화로 1118.11를 지불해야합니다.

In [ ]:
for x in tmp.items():
  print(x)

('code', 'USD')
('buy', 1118.11)

In [ ]:
# 만약 딕셔너리 데이터에서 인덱스를 사용하고 싶다면?
# n개의 데이터를 같이 반복문에서 사용할 경우

# enumerate(): 내장함수, 임의의 인덱스를 부여하여 멤버를 추출
for i in enumerate(tmp):
  print(i)

(0, 'code')
(1, 'buy')

In [ ]:
for key in tmp:
  print(key, tmp[key])

code USD
buy 1118.11

In [ ]:
# 딕셔너리는 순서가 없기 때문에, 키가 나오는 순서대로 임의로 인덱스를 붙임
for index, key in enumerate(tmp): # 결과값이 튜플이기 때문에 분해 가능
  print(index,key, tmp[key])

0 code USD
1 buy 1118.11

In [ ]:
# 연속된 수를 나열하는 range(start, stop[, step] ) -> []는 생략가능!
# 기본 step(값이 증가하는 간격)은 1이 default값이다.
for n in range(1,10): # start <= n <= stop 
  print(n) #-> 1~9

1
2
3
4
5
6
7
8
9

In [ ]:
for n in range(0,10,2):
  print(n)

0
2
4
6
8

In [ ]:
# range()를 활용하여 비트연산( 0,1 )
# 출력값: 0,0, 비트 연산(and, or, xor)
# 출력값: 1,0, 비트 연산(and, or, xor)
# 출력값: 0,1, 비트 연산(and, or, xor)
# 출력값: 1,1, 비트 연산(and, or, xor) # xor은 둘이 다를 때 참이 된다. 

# 2중 for문 케이스

for i in range(2): # 0,1만 옴
  for m in range(2): # 0,1
    print(f'n={i}, m={m} bit연산 => {i and m},{i or m},{i ^ m}')

n=0, m=0 bit연산 => 0,0,0
n=0, m=1 bit연산 => 0,1,1
n=1, m=0 bit연산 => 0,1,1
n=1, m=1 bit연산 => 1,1,0

## 구구단

In [ ]:
# Level1 : 구구단을 3단부터 5단까지 구현하시오
for i in range(3,6): # 단
  for j in range(1,10):
    print(f'{i} x {j} = {i*j}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [ ]:
for i in range(3,6): # 단
  for j in range(1,10):
    print(f'{i} x {j} = {i*j:>2}')

3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [ ]:
# Level2 : 구구단을 3단 5단만 출력
for i in range(3,6,2):
  for j in range(1,10):
    print(f'{i} x {j} = {i*j}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [ ]:
# Level3: level2코드를 한줄로 표현하시오. 결과는 리스트에 모두 담는다.
# 결과 중심으로 코드를 구성함

# (1) 리스트에 담는다.
gugudan = [] # 담을 그릇을 준비.
for i in range(3,6,2):
  for j in range(1,10):
    gugudan.append(f'{i} x {j} = {i*j}') # 담는다

print(gugudan) #확인

['3 x 1 = 3', '3 x 2 = 6', '3 x 3 = 9', '3 x 4 = 12', '3 x 5 = 15', '3 x 6 = 18', '3 x 7 = 21', '3 x 8 = 24', '3 x 9 = 27', '5 x 1 = 5', '5 x 2 = 10', '5 x 3 = 15', '5 x 4 = 20', '5 x 5 = 25', '5 x 6 = 30', '5 x 7 = 35', '5 x 8 = 40', '5 x 9 = 45']

## 리스트 내포

- 딕셔너리 내포도 있다.
- 형태에 따라 이름을 붙인다.
- 결과중심으로 코드를 간결하게 짠다

In [ ]:
# (2) 코드를 한줄로 표현
# 결과를 중심으로 코드 구성
[f'{i} x {j} = {i*j}'  
 
 
 for i in range(3,6,2)  
 for j in range(1,10) 
 if j > 5
 ]
# --> 리스트 내포

['3 x 6 = 18',
 '3 x 7 = 21',
 '3 x 8 = 24',
 '3 x 9 = 27',
 '5 x 6 = 30',
 '5 x 7 = 35',
 '5 x 8 = 40',
 '5 x 9 = 45']

In [ ]:
dan = int(input('단을 입력하세요 '))
print(f'{dan}단을 시작합니다' )
for i in range(1,10):
  print(f'{dan} x {i} = {dan*i}')

단을 입력하세요 15
15단을 시작합니다
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135

# while
- 0 ~ inf의 수행횟수를 가진 반복문
- 타언어는 1~ 무한대도 있음( do~while )
- **언제 끝날지 모를 때**

In [ ]:
a = [1,2,3,4,5]
a, type(a), len(a)

([1, 2, 3, 4, 5], list, 5)

In [ ]:
'''
while 조건:
  여러줄의 수행문(statements)
'''
# a의 멤버가 없어질 때까지 반복하여, 반복할 때 각 멤버를 추출 -> a의 멤버가 존재하면
# 멤버를 뒤에서 혹은 앞에서 추출하여 출력하라는 전제가 없기 대문에 pop()사용해도 무방하다.

while len(a) > 0:
  print(a.pop() ) # pop은 뒤에서부터 뽑는다

5
4
3
2
1

In [ ]:
# 파이썬이라면 좀더 줄일 수 있지 않나? => 조건문의 결론: True or False
# False로 판단되는 상황 => 0, 0.0, Nan, None, '', [],(),{}, ... 기타조건 상황
# a => list
# 멤버가 존재할 때까지라는 조건이 존재함. 

while a:
  print(a.pop() )

5
4
3
2
1

In [ ]:
a = [1,2,3,4,5]
while a:
  print('위에서 조건 체크하고 조건을 만족하면 코드블럭 수행')
  print(f'총 멤버수는 {len(a)}')
  print(a.pop() )
  print(f'남은 총 멤버수는 {len(a)}');print('-'*30)

위에서 조건 체크하고 조건을 만족하면 코드블럭 수행
총 멤버수는 5
5
남은 총 멤버수는 4
------------------------------
위에서 조건 체크하고 조건을 만족하면 코드블럭 수행
총 멤버수는 4
4
남은 총 멤버수는 3
------------------------------
위에서 조건 체크하고 조건을 만족하면 코드블럭 수행
총 멤버수는 3
3
남은 총 멤버수는 2
------------------------------
위에서 조건 체크하고 조건을 만족하면 코드블럭 수행
총 멤버수는 2
2
남은 총 멤버수는 1
------------------------------
위에서 조건 체크하고 조건을 만족하면 코드블럭 수행
총 멤버수는 1
1
남은 총 멤버수는 0
------------------------------

In [ ]:
# 반복문이 중간에 "중단없이" 모두 계획대로 반복했는가를 체크 -> else
# else는 for문 while문 , try 등에서 정상적으로 수행되었는지를 check하는 표현

a = [1,2,3,4,5]
while a:
  print(a.pop() )
else:
  print('정상적으로 중간에 중단없이 반복문이 수행되었다는 것을 보증합니다. \
          잘 돌았네요')

5
4
3
2
1
정상적으로 중간에 중단없이 반복문이 수행되었다는 것을 보증합니다.           잘 돌았네요

## break

- 통상 조건문과 함께, 혹은 단독으로 break를 사용하는 지점에서 반복문을 중단시킴
- break는 ***자신을 둘러싸고 있는 가장 가까운 반복문***을 빠져나가게 해준다.

In [ ]:
a = [1,2,3,4,5]
while a:
  print('뽑아내는 중', a.pop() )
  if len(a) == 2: # 남은 멤버수가 2개면
    break         # 중단해라. 뭘? while문(반복문)을 빠져나가라
else:
  print('정상적으로 중간에 중단없이 반복문이 수행되었다는 것을 보증합니다') # (! 중요) 반복문이 중단되었기 때문에 여기로 진입하지 않음
  # else구문은 필요시 사용하면 됨.

뽑아내는 중 5
뽑아내는 중 4
뽑아내는 중 3

## continue

- 조건문과 함께 쓰거나 단독으로 사용하는 지점에서 반복문의 조건식으로 바로 점프한다.
- continue를 둘러싸고 있는 가장 가까운 반복문으로 점프!
- 점프하면 바로 조건문 수행
- while, for만 사용가능 -> 주로 while에서 많이 써

In [ ]:
a = [1,2,3,4,5]
while a:
  tmp =  a.pop() 
  if tmp % 2 == 0: # 짝수라면
    continue
  print(tmp)
  if len(a) == 1:
    break      
else:
  # 중간에 중단된 적이 없으므려 출력된다.(continue는 관계없다.)
  print('정상적으로 중간에 중단없이 반복문이 수행되었다는 것을 보증합니다')

5
3
1
정상적으로 중간에 중단없이 반복문이 수행되었다는 것을 보증합니다