<a href="https://colab.research.google.com/github/spaceofsilver/python_basic/blob/main/6_%EC%A0%88%EC%B0%A8%EC%A0%81_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EA%B2%8C%EC%9E%84%EA%B0%9C%EB%B0%9C_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 목적

- 함수와 클래스(객체) 사용을 배제한, 제한된 환경에서 특정 목적을 가진 sw 혹은 프로그램을 만들어서 기본 자료구조, 흐름제어 등의 사용능력을 극대화하기 위함.

- 게임 주제:
  - 장르: 머드 게임(프롬프트 상에서 대화형으로 게임을 진행)
  - 요약: AI가 만드는 1 ~ 100 사이의 임의의 수를, 플레이어가 최소로 시도하여 숫자를 맞추는 게임.=> 숫자 맞추기 게임
  - 화면 존재하지 않음.

# 게임 step
  - # step 1
    - 게임이 시작하면 "Enjoy Custom Game World"라는 문구가 출력
  - # step 2
    - '게임 제목을 입력하시오 단 20자 이내로 입력가능합니다'라는 문구 출력
    - 플레이어가 입력할때까지 무제한으로 대기
    - 아무것도 입력하지 않고 엔터를 치면 '정확하게 입력하세요'라고 출력하고 다시 입력을 대기
    - 20자 이상 입력하고 엔터를 치면, '20자가 초과되었습니다'를 출력하고 다시 입력 대기
    - 20자 이내로 입력하고 엔터를 치면, 'gametitle'이라는 변수에 게임 제목을 담고, 다음 단계로 넘어간다.
  - # step 3
    - '플레이어의 닉네임을 입력하세요(15자 이내)'
    - 입력에 대한 체크 포인트는 step2과 동일
    - 플레이어에 대한 닉네임은 'player_name'이라는 변수에 보관
  - # step 4
    - 게임시작에 앞서 다음과 같은 프롬프트를 출력하고 게임을 시작한다.
    

          ```
          -----------------------------
          -       게임제목            -
          -        v 1.0              -
          -      welcome player room  - 
          ------------------------------
          게임이 시작됩니다. AI가 숫자를 준비합니다. 
          ```

|
  - # step 5
    - 본게임 시작
    - AI가 1 ~ 100 사이 임의의 값을 정수로 하나 **랜덤**하게 생성한다.
    - 1 <= x <= 100에서 값을 하나 선택하세요;라는 프롬프트가 뜬다.
    - 사용자는 1부터 100사이의 값을 입력한다.

    - case
    - 입력을 안하고 엔터키를 누를 경우 -> '숫자를 입력해주세요'
    - 1보다 작거나 100보다 큰 값을 입력할 경우 -> '범위를 확인해주세요'
    - 숫자가 될 수 없는 값을 주고 엔터 -> '숫자가 아닙니다.'
    - 정상적인 값을 입력하고 엔터 -> 실행

      - 판정: 입력을 다 했다면 AI의 값과 플레이어의 값을 비교 후 같은지 아닌지 출력을 해줌
      - and then 다시 입력 대기를 한다. 
      - 만약 정답을 맞추면? 총 시도 횟수를 10에서 빼서 10 곱한다. 이것을 이번판의 획득점수로 표현하기.
      - " 총 n회 시도해서 m점을 획득하였습니다."
      - '다시하시겠습니까?'
        - 'yes' -> 다시 시작
        - 'no' -> 게임 종료 -> 'good bye'하고 게임 마무리하기.

# 난수 생성 관련 기능 제공
- 외장함수: 특정 모듈을 가져와서 사용한다.
- import xxx from yyy
- import random  => random.

In [ ]:
import random

In [ ]:
# random.radint(a,b) -> " a <= x <= b "
set( [ random.randint(1,3) for _ in range(10)] )

{1, 2, 3}

In [ ]:
set( [ random.randint(1,100) for _ in range(100)] )

# 수치변환이 가능한지 **체크**

## 체크는 .isblabla~~~

In [ ]:
a = '1'
a.isdigit(), a.isnumeric(), a.isalpha()

(True, True, False)

In [ ]:
b = '2 ' # 정수 변환시 공백처리는 자동으로 해줌.
b.isdigit(), b.isnumeric(), b.isalpha()

(False, False, False)

In [ ]:
c = '안녕' # 부동소수 , 문자는 정수로 못바꾼다. 
c.isdigit(), c.isnumeric(), c.isalpha()

(False, False, True)

In [ ]:
d = '1.2'
d.isnumeric(), d.isdigit(), d.isalpha()

(False, False, False)

In [ ]:
sum = 0
sum += 1 # sum = sum + 1
sum

1

In [ ]:
try_count = 5
score = (10 - try_count)*10
if score < 0:
    score = 0
# 삼항 연산자
# 참이면 0 아니면 (10-try_count)*10 
score = try_count > 0 and 0 or (10-try_count)*10
score = 0 if try_count > 0 else (10-try_count)*10

In [ ]:
try_count = 7
# score = ( 10 - try_count )*10

# 조건(1): 시도횟수 10이상이면 0점
# 조건(2): 시도횟수 10 미만이면 score식 사용하여 점수

# [1] If 를 사용하는 방법
if try_count < 10:
  score = ( 10 - try_count )*10
else:
  score = 0

# [2] 삼항 연산자 사용

# (1) 
score =  try_count < 10 and (10-try_count)*10 or 0
score

30

In [ ]:
# (2) 
try_count = 7
score =  (10-try_count)*10 if try_count < 10 else 0
score

30

In [ ]:
try_count = 5
score = (10 - try_count)*10

score = 0 if try_count > 10 else (10-try_count)*10
print(score)

50

In [ ]:
try_count = 5
score = (10 - try_count)*10

# score = try_count > 0 and 0 or (10-try_count)*10
# False를 의미하는 값들이 and에 존재하면 의도하지 않은 결과를 보게 됨.
score = try_count <= 10 and 0 or (10-try_count)*10
print(score)

50

In [ ]:
# github 가입하깅
# aws가입