<a href="https://colab.research.google.com/github/spaceofsilver/python_basic/blob/main/7_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수

# 개요/정의

- 특정한 기능을 수행하는 수행문의 덩어리를 하나로 뭉쳐서 단일의 목적을 수행하는 단위
- *입력(데이터) 대비 출력(산출물)*이라는 형태가 존재
- 입력 => ***파라미터***, 출력 => **리턴값**




- 재활용성을 높은 코드를 하나로 묶어서 함수로 표현( 한 번 이상 사용될 경우 )
- 단지, 코드가 복잡해서 하나로 묶어서 처리 가능
- 코드를 기능별로 나눠서 효율적으로 유지 보수 및 관리하기 위해 구성 -> 재활용성 및 다른 프로젝트에서도 활용
- 생산성 향상을 가져오게 함 => 수익 증대 => 효율적인 작업
- 함수, 메소드 다 같은 의미이다.

## 종류

- 커스텀 함수
  - 개발자가 필요에 의해 만든 함수 : def()
  - 문법 필요
  - 함수 정의하고 쓰기
- 내장함수
  - 별도의 액션 없이 바로 사용가능한 함수
  - int(), str(), sum(). print(), type(), ...
  - 주로 사용하는 것들은 내용을 기억, 나머지는 필요시 찾아서 사용

- 외장함수
  - 서드파트 모듈을 가져와서 그 안에 있는 함수를 사용한다면 이는 외장함수
  - package(module).함수()
  - 내가 만든 함수를 다른 사람이 사용한다면 그것은 외장함수가 된다.
- 람다함수
  - 휘발성 함수
  - 가장 빠른 처리 속도를 가진다
  - 수행문이 1개여야 한다는 제한
  - 함수 인자의 함수가 연결(콜백처리)되는 스타일에서 주로 사용
  - **python: filter(), map()**
  - **pandas: apply()**
  - (형태) lamdba x : x + 1
- 클로저
  - 함수 안에 함수가 정의돼 있음. 함수내부에서만 사용하게 제한하거나, 외부에서 사용시 xxxx()() 형태
  - keras에서 주로 보임
- 고급표현 (다음 주)

## 특징

# 1. 커스텀 함수


- [..] 생략 가능하다.

In [ ]:
'''
[@ ~ <- 데코레이터(다음 주)]

def 함수명([인자1, 인자2,...]);   # 함수의 선언부분
  # 코드블럭 파트
  statements ...                  # 수행문은 여러개 나올 수 있다
  [return[출력값, ...] ]          # return값은 생략가능하고 출력값은 여러개가 나올 수 있다.

'''

In [ ]:
# (1) 정수 더하기 함수

# - 함수명:   sum
# - 입력  :   x, y
# - 출력  :   입력된 2개의 값을 더한 값
'''
    파이썬의 변수는 "타입 추론형" -> 변수명 앞에는 어떤한 기호도 없거나 범용적 기호(var,let,...)밖에 안 쓴다. 
                              따라서 정수만 받으라고 지정할 수 없다( ! 중요 )
                                    함수를 짤 때 "출력"부터 짜기 -> 과정 구성                            '''
def sum_xy(x,y): 
  sum = int(x) + int(y)
  return sum

# 함수는 **호출**해야 의미를 가진다 : call by value
# 호출 :  함수명(parameter)

sum_xy(6.9,7)

13

In [ ]:
# (2) 출력이 없는 함수
# : **return**이 없는 함수
def sum2(x,y): 
  print( x + y )
sum2(1,2), print(sum2(1,2)) # 함수를 프린트를 해보면
                            # 함수가 return값을 가지지 않으면 함수의 반환값은 None! ( 주의 )

3
3
None

(None, None)

In [ ]:
# (3) 가변인자
# : 매개변수의 수가 정해져있지 않다(가변적)

def sum3(*x): 
  print( x , type(x) )

# 인자들을 **튜플**로 묶어서 함수 내부로 가져온다.
sum3(1,2)
sum3(1,2,3)
sum3(1,2,3,4)

(1, 2) <class 'tuple'>
(1, 2, 3) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>

In [ ]:
# (4) 일반인자 + 가변인자

def sum4(a, *x): 
  print( a , type(a), x , type(x) )

sum4(1,2)
sum4(1,2,3)
sum4(1,2,3,4)

1 <class 'int'> (2,) <class 'tuple'>
1 <class 'int'> (2, 3) <class 'tuple'>
1 <class 'int'> (2, 3, 4) <class 'tuple'>

In [ ]:
# Q1. *x와 a의 위치 바꿔도 되나?
def sum5(*x , a ): 
  print( a , type(a), x , type(x) )

sum5(1,2)
sum5(1,2,3)
sum5(1,2,3,4)

TypeError: ignored

In [ ]:
# Q2. a의 값을 지정해주면?

def sum6( *x, a ): 
  print( a , type(a), x , type(x) )

# 매개변수의 기본값 부여
# a=3, a라는 파라마터에 값을 직접 지정하는 것.
sum6(1,a=2)
sum6(1,2,a=3)
sum6(1,2,3,a=4)

2 <class 'int'> (1,) <class 'tuple'>
3 <class 'int'> (1, 2) <class 'tuple'>
4 <class 'int'> (1, 2, 3) <class 'tuple'>

In [ ]:
# (5) 누적합을 출력하는 함수

def sum7( *x ):
  sum = 0
  for i in x:
    sum += i
  pass
  return sum # (! 주의 ) return값을 for문 안에 넣으면 안 돼

sum7(2,4,6,8), sum7(2,4,6,8,10,12)

(20, 42)

In [ ]:
# (5) 누적곱을 출력하는 함수

def mul( *x ):  # 순서대로 들어감
  mul = 1
  for i in x:
    mul = mul * i
  pass
  return mul

mul(2,4,6,8), mul(2,4,6,8,10,12)

(384, 46080)

In [ ]:
# (6) **kargs : keyword arguments
# 머신러닝 , 딥러닝에서 많은 함수의 마지막 인자로 많이 사용한다.
# 장점: 함수 외적으로 어떤 인자를 받을 것인지 은닉할 수 있다.
# 인자를 명확하게 지정하여(키) 여러개를 자유롭게 확장할 수 있다.

# Q. 함수내부에서 '정식'이라는 값을 출력하시오
# A.
def test(**kargs):
  print(kargs, type(kargs))     # type -> "dictionary"( ! 중요 )
  for k,v in kargs.items():     # key값을 모를 때
    print(k,v)                  # 딕셔너리 for문( ! 중요 )

# kargs : 파라미터의 키값을 지정해서 데이터를 넘길 때 사용
test(food = '정식' , drink = '물')

{'food': '정식', 'drink': '물'} <class 'dict'>
food 정식
drink 물

In [ ]:
# (참고) Dict을 for문 돌리면 ?

a = {'food': '정식', 'drink': '물'}
for k,v in a.items():
  print(v)
print('-'*20)
for i in a.values():
  print(i)
print('-'*20)
for i in a.keys():
  print(i)

정식
물
--------------------
정식
물
--------------------
food
drink

In [ ]:
# (7) return 값이 여러개
# 리턴된 값의 타입은 무조건 TUPLE(! 주의 )

def cal(x,y):
  return x+y, x-y, x*y, x/y  # 리턴값을 여러개로 나열하면 튜플로 묶는다.

cal(4,5)

(9, -1, 20, 0.8)

In [ ]:
# (7) - 1. 구조 분해
# 멤버수대로 직접 변수에 바로 대입하여 결과를 얻는다.
# 장점: 각 변수의 의미를 명확하게 부여할 수 있다.

a,b,c,_ = cal(4,5)
a, b, c, d

# Q. 리턴은 4개인데 받는건 3개의 변수 가능?
# A. 불가능

(9, -1, 20, 0.8)

In [ ]:
# (8) 함수의 파라미터 초기값 부여

def cal( age=19, height=182 ):
  print('당신의 나이는 %s, 키는 %s'%(age, height))

# 순서가 없다.
cal() , cal(10), cal(height=110), cal(42,150)

당신의 나이는 19, 키는 182
당신의 나이는 10, 키는 182
당신의 나이는 19, 키는 110
당신의 나이는 42, 키는 150

(None, None, None, None)

In [ ]:
# (8) 함수의 파라미터 초기값 부여
def cal2( name , age=19, height=182 ):
  print('%s의 나이는 %s, 키는 %s'%(name, age, height))


cal2('joe')
# 순서대로 인자가 배치
cal2(40)
# 기본값이 없는 파라미터부터 채우고, 기본값이 없는 파라미터 채우기.
cal2(age=30, height=15, name='철수')
# 기본값이 없어도 파라미터명을 지정하면 순서에 상관없이 채울 수 있다.
cal2('hi', height=110)

joe의 나이는 19, 키는 182
40의 나이는 19, 키는 182
철수의 나이는 30, 키는 15
hi의 나이는 19, 키는 110

In [ ]:
def fitt( X_train, y_train): pass

In [ ]:
# 기본값 없는 파라미터는 기본값 있는 파라미터보다 무조건 앞에 있어야함.
def cal2( age=19, name , height=182 ):
  print('%s의 나이는 %s, 키는 %s'%(name, age, height))

SyntaxError: ignored

# 2. 내장함수

- 특정 기능을 가진 함수를 별도의 액션 없이 바로 호출가능한 함수들
- 사용 빈도가 높은 함수가 많음( 시간이 충분하면 한 번 정도 사용해봐도 ok)

In [ ]:
en_txt = '''
Tesla, Inc. (formerly Tesla Motors, Inc.) is an American electric vehicle and clean energy company based in Palo Alto, California. Tesla's current products include electric cars (the Model S, Model 3, Model X, and Model Y), battery energy storage from home to grid scale (the Powerwall, Powerpack, and Megapack), solar panels and solar roof tiles, and related products and services.

Founded in July 2003 by engineers Martin Eberhard and Marc Tarpenning as Tesla Motors, the company’s name is a tribute to inventor and electrical engineer Nikola Tesla. Eberhard said he wanted to build "a car manufacturer that is also a technology company", with its core technologies as "the battery, the computer software and the proprietary motor".

The next three employees at Tesla were Ian Wright, Elon Musk, and J. B. Straubel.[9] Musk, who has served as CEO since 2008, said in 2006 that "the overarching purpose of Tesla Motors...is to help expedite the move from a mine-and-burn hydrocarbon economy toward a solar electric economy" and it would build a wide range of electric vehicles, including "affordably priced family cars", and co-market SolarCity solar panels to do so.[10][11][12] Tesla acquired SolarCity in 2016.

After 11 years in the market, Tesla ranked as the world's best-selling plug-in and battery electric passenger car manufacturer in 2019, with a market share of 17% of the plug-in segment and 23% of the battery electric segment.[13] Tesla global vehicle sales increased 50% from 245,240 units in 2018[14] to 367,849 units in 2019.[13] In 2020, the company surpassed the 1 million mark of electric cars produced.[15] The Model 3 ranks as the world's all-time best-selling plug-in electric car, with more than 500,000 delivered.[16] Tesla cars accounted for 81% of the battery electric vehicles sold in the United States in the first half of 2020.[
'''

In [ ]:
# Q. 주어진 본문의 알파벳별 빈도를 계산하시오

# 알파벳의 빈도는 국가별로 다르다는 논문 검증을 통해 -> 머신러닝 학습모델 구현
# 언어감지 서비스의 기초(ex.파파고)
# 주어진 데이터로부터 정제과정을 거쳐서 알파벳만 존재하는 문자열을 획득

In [ ]:
import re

# 정규식을 생성
# []: 문자 한 개, 문자 클래스
# * : 0부터 무한대로 반복해서 나올 수 있다. 
# [^]: 해당 문자 빼고
# a-zA-Z : 모든 알파벳

# 알파벳을 제외한 모든 문자.

p = re.compile(  '[^a-zA-Z]*' )

In [ ]:
# 정규식을 이용하여 알파벳만 남긴다.
# 원문에서 알파벳을 제외한 모든 문자를 찾아서 ' '으로 대체한다.

new_text = re.sub('[^a-zA-Z]*','',en_txt).strip().lower()

In [ ]:
# 알파벳 순서
# a,b,c,d,... -> 아스키코드
# a -> 아스키 97, z -> 아스키 122
# 알파벳 간에는 거리값이 존재.
# a -> 97이 나오게 하는 함수는?

In [ ]:
ord('z')

122

In [ ]:
# 카운트 빈도를 담을 리스트 준비 -> 26개(a-z)
# 모든 구성원의 초기값은 0
counts = [ 0 for i in range(26)] # 리스트 내포
# 문자열에서 한개씩 추출 -> for

# ss = []
for i in new_text:
  # print(ord(i)) #공백값 다 포함.
  # ss.append(i)
  # 카운트
  counts[ ord(i) - ord('a')] += 1

In [ ]:
# counts

In [ ]:
tmp = set(new_text)
tmp = list(tmp)
tmp.sort()
# tmp

In [ ]:
new = {}
for alpa, cnt in zip(t, counts):
  new[alpa] = cnt

In [ ]:
new

{'a': 129,
 'b': 20,
 'c': 71,
 'd': 58,
 'e': 176,
 'f': 25,
 'g': 23,
 'h': 45,
 'i': 84,
 'j': 2,
 'k': 11,
 'l': 84,
 'm': 43,
 'n': 90,
 'o': 92,
 'p': 29,
 'q': 1,
 'r': 108,
 's': 89,
 't': 116,
 'u': 31,
 'v': 10,
 'w': 16,
 'x': 3,
 'y': 26}

In [ ]:
[0]*26 # (! 중요 ) 이것도 가능!!

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# 파일 시스템 - 쓰기
# 없으면 만들고 열기
# 'w': 쓰기모드 + 텍스트 모드(메모장에 열린다)
# 'wb': 쓰기모드 + 바이너리(이미지, 한글)

# 1. 파일 생성 및 오픈 -> I/O 에 관한 것
f = open( 'test.txt', 'w' ) # 'w': 쓰기모드 + 텍스트 모드
f
# 2. 파일 닫기 :  바로 작성하기(I/O는 오픈과 동시에 종료에 대해 기술해야함.)
f.close()

In [ ]:
# 우리가 주로 사용하는 문자들을 잘 기록된다.
f = open( 'test.txt', 'w' ) 
f.write('가나다 한글 abc English ABC 123 456')
f.close()

In [ ]:
# 파일 시스템 - 쓰기
# - 'r' : 읽기 모드
# 우리가 주로 사용하는 문자들을 잘 기록된다.
f = open( 'test.txt', 'r' ) 
print(f.read())
f.close()

가나다 한글 abc English ABC 123 456

In [ ]:
# 파이썬에서 I/O를 닫는게 중요한데 종종 실수로 누락하는 경우 많다. 
# with문 이라는 문법을 지원하여 이를 해결한다. 
# 데이터 베이스, 네트워크 등에서 사용

In [ ]:
with open( 'test.txt', 'r' ) as f: # I/O를 열고 'f'라는 별칭을 준다. 
  print(f.read())
# with문을 빠져나가면 자동으로 close() 처리한다.
  # f.close() 없어도 된다.

In [ ]:
# map( )

# 데이터 
a = [1,2,3,4,5]

# a의 각 구성원은 값을 2배로 키우기 => [2,4,6,8,10]
# 멤버들을 각 하나씩 꺼내서 *2. 다시 원위치화
# 판다스는 apply
# 파이썬은 map
def mul2( x ):
  return x * 2


list( map(mul2 , a) )

[2, 4, 6, 8, 10]

In [ ]:
def mul2( x ):
  return x * 2
# 호출할때만 생성되고 이후에는 람다함수는 사라진다(휘발성)
list( map(lambda x: x*2 , a) )

[2, 4, 6, 8, 10]

In [ ]:
# filter()

list( filter(lambda x: x > 2 , a) ) 
# 수행문이 하나일 때 적용

[3, 4, 5]

# 3. 외장함수

In [ ]:
import pandas as pd  # as는 별칭구역 ->  이름이 너무 길때
import pickle as pk

# 4. 람다함수

- 휘발성 함수면서 일회용으로 사용
- 빠른 처리속도를 요구할때 사용
- 함수의 인자로 함수를 넣을 때 사용 -> map(func, ), filter(func, ), ...
- 수행문이 하나일 때 사용

# 5. 클로저

- 함수 안에 함수
- 함수 **내부**에서 **특정 모듈**을 담당하여 업무를 수행

In [ ]:
def a():
  print( 1 )
  # 함수 내부에서 특정 모듈을 담당하여 업무를 수행할때 사용
  def b():
    print( 2 )
  b() # 단순히 호출로 끝낼 수 있음.
  print( 3 )

In [ ]:
a()

1
2
3

In [ ]:
def a(x,y):
  x = 10
  y = 5
  def b( z ):
    return x + y + z
  return b

In [ ]:
a(10,1)(1) # 괄호 두개면 클로져

In [ ]:
def test():
  t = 100   # 함수 안에 지정된 'a'는 지역변수 -> 함수 내부에서만 의미를 가짐(! 주의)
  return t  # 해당 변수의 scope 범위는 "함수 내부"에만 영향을 미친다.( "class도 마찬가지" )

test(), t   # 그래서 a를 출력하면 "name 't' is not defined"

NameError: ignored

In [ ]:
m = 10      # 전역변수

def test():
  m = 100   # 지역변수
  return m 

test(), m   
# 따라서 전역변수인 m을 출력하고 싶어도 출력 못함.

(100, 10)

In [ ]:
a = 10     
# 스타일의 차이, 타 언어와 유사성을 고려하면 이 스타일을 사용할 수
def test():
  # 함수 내부에서 전역변수를 컨트롤 하고 싶다면?
  # global : 전역변수를 처리하는 선언( but, 추천하는 방식은 아님 ) 
  global a   
  a = 100  
  return a 

test(), a   
# a = test() 
# a           <- 이 방식이 더 낫다.

(100, 100)